<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/cv.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href=""> Formation </a></li>
		        	<li><a href=""> Compétences </a></li>
	        		<li><a href=""> Expériences </a></li>
	        		<li><a href=""> Loisirs </a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:vincent.durpoix@gmail.com">email</a></li>
	        		<li><a href="https://github.com/Keuwa">github.com/Keuwa</a></li>
				</ul>
			</footer>
		</body>
	</html>