<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
		
			<title>{{ page.title }}</title>
			
			<link href="../js/bootstrap-4.2.1-dist/css/bootstrap.css" rel="stylesheet">
			<link href="../js/bootstrap-4.2.1-dist/js/bootstrap.js" rel="stylesheet">
			<link href="/css/main.css" rel="stylesheet">
			
			<script src="/js/wagnion.js"></script>
		</head>
		<body>
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
					<a class="navbar-brand" href="#">	
						Le Noel de Wagnion
					</a>
					</div>
					<div id="navbar" class="collapse navbar-collapse">
					</div><!--/.nav-collapse -->
				</div>
			</nav>
			<div class="container">			
				{{ content }}
				<div class="form_answer"> 
					<input id="answer" type="textfield"/>
					<button onclick="checkAnwser()"> J'ai trouvé </button>
				</div>
				<div id="error"> </div>
			</div><!-- /.container -->
		</body>
	</html>